@tailwind base;
@tailwind components;
@tailwind utilities;

.hiddenc {
    display: none;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

#loader {
    transition: opacity 1s ease-in-out;
}

#loader.fade-out {
    opacity: 0;
}

#main {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#main.fade-in {
    opacity: 1;
}

#downloadPanel {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#downloadPanel.fade-in {
    opacity: 1;
}

#downloadPanel.fade-out {
    opacity: 0;
}